Flask==0.10.1
Flask-Login==0.2.10
Flask-OAuth==0.12
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.19
SQLAlchemy==0.9.4
Werkzeug==0.9.4
httplib2==0.8
itsdangerous==0.24
oauth2==1.5.211
wsgiref==0.1.2
