{% extends "base.html" %}

{% block content %}
{% if login %}
<p>Lovingly created for <em>{{ name }}</em></p>

{% if search %}
<p class="search">You searched for items containing <em>{{ search }}</em> </p>

{% else %}

<p><button id="item-add" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button></p>
{% endif %}

<div id="item-list">
{% include 'items.html' %}
</div>

{% endif %}

{% endblock %}

{% block scripts %}
  <script src="/static/js/item.js"></script>
{% endblock %}
